In [2]:
%pip show pymysql

Name: PyMySQL
Version: 1.1.1
Summary: Pure Python MySQL Driver
Home-page:
Author:
Author-email: Inada Naoki <songofacandy@gmail.com>, Yutaka Matsubara <yutaka.matsubara@gmail.com>
License: MIT License
Location: c:\Users\user\anaconda3\Lib\site-packages
Requires:
Required-by:
Note: you may need to restart the kernel to use updated packages.

In [ ]:
#Terminal
#mysql -u python -p
#show databases;
#use python_db;
#show tables;
#desc 테이블명;

In [34]:
import pymysql
#connection 객체 생성
# Create connection object
connection = pymysql.connect(host='localhost', port=3306, db='python_db',
                             user='python', passwd='python', charset='utf8')


try:
    with connection.cursor() as cursor:
        cursor.execute('select * from feature_and_result')
        result = cursor.fetchall()
        print(result)
    connection.commit() 
except Exception as exp:
    print(f"An error occurred: {exp}")
    connection.rollback()
finally:
    connection.close()

((22.0, 0.0, 3.0, 1.0, 0.0, 5.0, 3.6666666666666665, 13.0, 13.0, 2.0, 0.0, 0.0, 3.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 3.845350936622436, 13.0, 0.0, 80.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0, 13, 0, 0, 24, 1, 1, 1, 8, 0, 13, 14, 0, 0, 0, 0, 'https://www.naver.com/', 1),)

In [33]:
from sqlalchemy import create_engine
import pandas as pd
def save_data(user_url,result):
    # 2. MariaDB 연결 엔진 생성
    engine = create_engine('mysql+pymysql://python:python@localhost:3306/python_db')

    df = pd.read_csv('extract_feature.csv')
    df['url'] = user_url
    df['result'] = result 

    # 3. to_sql() 메서드를 사용하여 데이터프레임을 DB에 저장
    # if_exists 옵션: 'fail', 'replace', 'append' 중 선택 가능
    try:
        df.to_sql(name='feature_and_result', con=engine, if_exists='append', index=False)
        print("데이터프레임이 DB에 성공적으로 저장되었습니다.")
    except Exception as e:
        print(f"데이터프레임 저장 중 오류 발생: {e}")

df = pd.read_csv('extract_feature.csv')
user_url = 'https://www.naver.com/'
df['url'] = user_url
matched_row = df 
print(df)
save_data(user_url,1)

   url_len  url_num_hyphens_dom  url_num_dom_token  url_path_len  \
0     22.0                  0.0                3.0           1.0

   url_filename_len  url_longest_dom_token_len  url_average_dom_token_len  \
0               0.0                        5.0                   3.666667

   url_domain_len  url_hostname_len  url_num_dots  ...  html_num_tags('form')  \
0            13.0              13.0           2.0  ...                      1

   html_num_tags('a')  html_num_tags('small')  html_num_tags('span')  \
0                   8                       0                     13

   html_num_tags('input')  html_num_tags('applet')  html_num_tags('img')  \
0                      14                        0                     0

   html_num_tags('video')  html_num_tags('audio')                     url
0                       0                       0  https://www.naver.com/

[1 rows x 54 columns]
데이터프레임이 DB에 성공적으로 저장되었습니다.